:host {
  display: flex;
  flex-direction: column;
  gap: calc(var(--base-size) * 2);
  align-content: center;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
}

.content header {
  align-items: center;
  display: flex;
  gap: 16px;
  padding: 16px 0;
}

.content header h1,
.content header p {
  margin: 0;
}

todo-add-button-is-all-it-is {
  align-self: flex-end;
  bottom: 0;
  padding-bottom: calc(var(--base-size) * 4);
  padding-right: calc(var(--base-size) * 2);
  position: sticky;
  right: 0;
}
