/* Global */

:root {
  --base-font-size: 8px;
  --font-weight-bold: 700;

  --heading-1: 3em;
  --heading-2: 2.5em;
  --heading-3: 2em;
  --body-copy: 2em;
  --site-title: 4em;

  font-size: var(--base-font-size);
}

body {
  font-family: sans-serif;
  font-size: var(--base-font-size);
}

h1 {
  font-size: var(--heading-1);
}

p,
li {
  font-size: var(--body-copy);
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Layout */
.main-container {
  margin: 0 auto;
  max-width: 900px;
}

/* Components */
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner .site-title {
  font-size: var(--site-title);
  font-weight: var(--font-weight-bold);
  margin: 0;
  padding: 0;
}

.banner a {
  text-decoration: none;
}

.banner a:hover,
.banner a:focus {
  text-decoration: underline;
}

.banner a:visited {
  color: #000;
}

.connect-links {
  margin: 0;
  padding: 0;
}

.connect-links svg {
  height: 3rem;
}

.connect-links li {
  list-style: none;
}
